# Secrets
TRANSFER_TOKEN_SALT=TRANSFER_TOKEN_SALT
APP_KEYS=COMMA_SEPARATED_APP_KEYS
ADMIN_JWT_SECRET=ADMIN_JWT_SECRET
API_TOKEN_SALT=API_TOKEN_SALT
ENCRYPTION_KEY=ENCRYPTION_KEY
JWT_SECRET=JWT_SECRET

# Database
DATABASE_FILENAME=.tmp/data.db
DATABASE_CLIENT=sqlite
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# Mail
SMTP_PASSWORD=SMTP_PASSWORD
SMTP_HOST=smtp.gmail.com
SMTP_USER=SMTP_USER
SMTP_PORT=465

# Server
HOST=localhost
PORT=1337
