############################
# Packages
############################

*.class
*.seed
*.csv
*.dat
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.dll
*.exe
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
*.7z
*.gz
*.so
*.o

############################
# Misc.
############################

!public/uploads/.gitkeep
public/uploads/*
.VSCodeCounter
.tsbuildinfo
.eslintcache
nbproject
.vscode
.idea
types
ssl
*#

############################
# Package managers
############################

!.yarn/unplugged
!.yarn/releases
!.yarn/versions
!.yarn/patches
yarn-error.log
!.yarn/cache
!.yarn/sdks
.yarn/*
.pnp.*

############################
# Strapi
############################

.strapi-updater.json
.strapi-cloud.json
license.txt
exports
.strapi
build
.env
dist

############################
# Windows
############################

$RECYCLE.BIN/
ehthumbs.db
Desktop.ini
Thumbs.db
*.cab
*.msi
*.msm
*.msp

############################
# OS X
############################

.Spotlight-V100
.AppleDouble
.LSOverride
.DS_Store
.Trashes
Icon
._*

############################
# Node.js
############################

.node_history
node_modules
lcov.info
lib-cov
results
pids
logs

############################
# Logs and databases
############################

*.sqlite3
*.sqlite
*.log
*.sql
.tmp

############################
# Tests
############################

coverage

############################
# Linux
############################

*~
